.form-image img {
  width: 100%;
}

.footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px 0;
  font-size: 14px;
}

.footer a {
  color: #f8d90f;
  text-decoration: none;
}

.footer a:hover {
  color: #ffd700;
}

.footer p {
  margin: 0;
  line-height: 1.5;
}
/* .title {
  text-align: center;
  margin: 20px 0px;
} */
.product-list{
  list-style: none;
  padding: 10px 15px;
  border: 2px solid black;
  align-items: center;
  
}

.cart-list {
  margin-bottom: 20px;
}
.card-title {
  display: flex;
  justify-content: space-between;
}
.modal-show{
  background: white;
}